pipeline/incrementalloading.json
{
	"name": "incrementalloading",
	"properties": {
		"activities": [
			{
				"name": "sqltolake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "currentdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT * FROM [', pipeline().parameters.schema, '].[', pipeline().parameters.table,\n  '] WHERE ', pipeline().parameters.col_name, ' > ''',\n  formatDateTime(\n    coalesce(activity('cdc').output.value[0].cdc, '1900-01-01'),\n    'yyyy-MM-dd HH:mm:ss'\n  ),\n  ''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"directory": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.table,'_',variables('currentdate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "currentdate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentdate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"directory": {
								"value": "@concat(pipeline().parameters.table,'_cdc')",
								"type": "Expression"
							},
							"filename": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "update_latest_cdc",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sqltolake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT CONVERT(date, MAX(@{pipeline().parameters.col_name})) AS cdc FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bromze",
							"directory": {
								"value": "@concat(pipeline().parameters.table,'_cdc')",
								"type": "Expression"
							},
							"filename": "cdc.json"
						}
					}
				]
			}
		],
		"parameters": {
			"schema": {
				"type": "String"
			},
			"table": {
				"type": "String"
			},
			"col_name": {
				"type": "String"
			}
		},
		"variables": {
			"currentdate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}