pipeline/incrementalloading.json
{
	"name": "incrementalloading",
	"properties": {
		"activities": [
			{
				"name": "sqltolake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "currentdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.schema}.@{pipeline().parameters.table} where @{pipeline().parameters.col_name} >'1900-01-01'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"directory": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.table,'_',variables('currentdate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "currentdate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentdate",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "String"
			},
			"table": {
				"type": "String"
			},
			"col_name": {
				"type": "String"
			}
		},
		"variables": {
			"currentdate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}